body{
    text-align: center;
    min-height: 100vh;
    background: #1F2937;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    max-width: 600px;
    position: relative;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 5px solid rgba(185, 121, 0, 0.26)
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.26);
    font-weight: bold;
    font-size: 16px;
    color: rgb(253, 249, 6);
    border: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    
}

#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




